*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.sectionn-1{
    height: 50vh !important;
    background-image:url('https://media.istockphoto.com/id/1454697447/photo/black-luxury-modern-retro-style-master-bedroom.jpg?s=612x612&w=0&k=20&c=zWXMq8oEAx5cSIF88bqiizwqAyeDmO9ihZyTlOFpHQQ=');
    background-size:contain;
    background-attachment:fixed ;
    background-position:center;
}
.box{
    width: 100%;
    height: 600px;
}
.section-2{
    background: #1c1818;
    height: 400px; 
    color: white;   
}
.section-2 h1{
    text-align: center;
    padding:35px 0;
    text-transform: uppercase;
    font-size:40px;
    color:gray;
}
.section-2 p{
text-align:center;
font-size: 15px;
color: rgb(117, 117, 118);
text-transform: capitalize;
}

.section-4{
    background:black;
    height:800px;
    width: 100%;
}
.section-4 h1{
    color:wheat;
    text-align: center;
    padding: 20px 0;
    font-size: 40px;
    font-weight: 800;
    text-transform: uppercase;
}
.card-room1, .card-room2{
display: flex;
align-items: center;
justify-content: center;
gap: 50px;
}
.card-room1 img{
    height:300px;
    width: 400px;
}
.card-room2 img{
    height:300px;
    width: 400px;
}
.card-room1{
    margin:30px 40px;
}
.scalee:hover{
    scale:1.05;
    transition: .2s all ease-out;
}
.card-room2{
    margin:30px 40px;
}

@media (max-width:800px) {
    .section-2 h1{
        font-size:25px;
    }
    .section-2 p{
        font-size:11px;
    }
    .section-2{
        height: 300px;
    }
    .sectionn-1{
        background-position:center;
        height: 40vh !important;;
    }
    .section-4{
        height:100% !important;
    }
    .card-room1{
        display: flex;
        flex-wrap: wrap;
    }
    .card-room2{
        display: flex;
        flex-wrap: wrap;
    }
    .card-room1 img{
        height: 270px;
        width:90%;
    }
    .card-room2 img{
        height: 270px;
        width: 90%;
    }
}
@media(max-width:500px){
    .section-2 h1{
        font-size:17px;
    }
    .section-2 p{
        font-size:5px;
    }
    .section-2{
        height:300px;
    }
    .sectionn-1{
        background-position:center;
        height:30vh !important;
    }
    .section-4{
        height:100% !important;
    }
    .section-4 h1{
        font-size: 20px;
    }
    .card-room1 {
        display: flex;
        flex-direction: column;
    }
    .card-room1 img{
        height:150px;
        width: 90%;
    }
    .card-room2 img{
        height:150px;
        width: 90%;
    }
    .card-room2 {
        display: flex;
        flex-direction: column;
    }
}
@media (max-width:900px) {
    .card-room1, .card-room2{
        display: flex;
        flex-wrap:wrap;
    }
    .section-4{
        height:100% !important;
    }
    .card-room1 img{
        height:150px;
        border:2px solid white;

    }
    .card-room2 img{
        height:150px;
        border:2px solid white;

    }
   
}
@media (max-width:1100px) {
    .section-2 h1{
        font-size:25px;
    }
    .section-2 p{
        font-size:11px;
    }
    .section-2{
        height: 380px !important;
    }
    .sectionn-1{
        background-position:center;
        height: 40vh !important;;
    }
    .section-4{
        height:100% !important;
    }
    .card-room1, .card-room2{
        display: flex;
        flex-wrap:wrap;
    }
    
    .card-room1 img{
        height: 260px;
        width:220px;
        border:2px solid white;

    }
    .card-room2 img{
        height: 260px;
        width: 220px;
        border:2px solid white;

    }
}
@media (max-width:1200px) {
    .card-room1 img{
        height: 270px;
        width:320px !important;
    }
    .card-room2 img{
        height: 270px;
        width: 320px !important ;
    }
}
@media (max-width:1335px) {
    .section-4{
        height:90vh;
    }
    
    .card-room1 img{
        height: 270px;
        width:330px;
    }
    .card-room2 img{
        height: 270px;
        width: 330px;
    }
}